*/node_modules
*/expo
*/package-lock.json
./mobile/assets/post-pictures
/mobile/assets/post-pictures/*
/mobile/tools/supabase.js
./mobile/tools/supabase.js
./mobile/tools/url.js
/mobile/tools/url.js
*/.env
/mobile/assets/
